MSSQL_SA_PASSWORD=                      # MSSQL Server SA account's password
DB_PASSWORD=                            # ASPNETCORE Database user password
DB_USER=                                # ASPNETCORE Database username
DB_NAME=                                # ASPNETCORE Database name password
CERTIFICATE_NAME=                       # Data Encryption certificate path
CERTIFICATE_PASSWORD=                   # Data Encryption certificate password
JWT_SECRET_KEY=                         # JWT Secret key