MSSQL_SA_PASSWORD=                      # MSSQL Server SA account's password. Use MSSQL password policy to avoid deployment failuers
DB_PASSWORD=                            # Database user password
DB_USER=                                # Database username
DB_NAME=                                # Database name
CERTIFICATE_NAME=                       # Data Encryption certificate path
CERTIFICATE_PASSWORD=                   # Data Encryption certificate password
JWT_SECRET_KEY=                         # JWT Secret key Base64